In [1]:
from metabase_api import Metabase_API

In [2]:
url = 'https://polar-analytics.herokuapp.com'
username = 'charbel@thegrowthteam.co' #'Charbel Seif'
password = 'c_HpcK0IrFqjKY'
mb = Metabase_API(url, username, password)

In [3]:
new_client_name = 'polene'
main_collection_id = 225
new_collection_id = 242

In [5]:
mb.copy_dashboard(source_dashboard_id=294, destination_collection_id=71, new_client_name=new_client_name, deepcopy=True)

Number of filters: 3
 Existing field id:  35805
  New field id:  5826
 Existing field id:  35803
  New field id:  5825

In [4]:
mb.copy_collection(source_collection_id=main_collection_id, destination_parent_collection_id=new_collection_id, 
                   deepcopy_dashboards=True, verbose=True, new_client_name=new_client_name, klaviyo=False, products=True)

Copying the dashboard Acquisition Performance ...
Number of filters: 2
 Existing field id:  35615
  New field id:  16846
Number of filters: 2
 Existing field id:  35615
  New field id:  16846
Copying the dashboard Cohorts Analysis ...
Number of filters: 2
 Existing field id:  35615
  New field id:  16846
Number of filters: 2
 Existing field id:  35615
  New field id:  16846
Copying the dashboard Key Indicators ...
Number of filters: 2
 Existing field id:  35615
  New field id:  16846
 Existing field id:  35615
  New field id:  16846
Number of filters: 2
 Existing field id:  35615
  New field id:  16846
 Existing field id:  35615
  New field id:  16846
Number of filters: 2
 Existing field id:  35615
  New field id:  16846
 Existing field id:  35615
  New field id:  16846
Number of filters: 2
 Existing field id:  33947
  New field id:  3912
 Existing field id:  33947
  New field id:  3912
Number of filters: 2
 Existing field id:  33947
  New field id:  3912
 Existing field id:  33947
  New field id:  3912
Number of filters: 2
 Existing field id:  35615
  New field id:  16846
 Existing field id:  35615
  New field id:  16846
Number of filters: 2
 Existing field id:  35615
  New field id:  16846
 Existing field id:  35615
  New field id:  16846
Number of filters: 2
 Existing field id:  35615
  New field id:  16846
 Existing field id:  35615
  New field id:  16846
Copying the dashboard Key metrics by platform ...
Number of filters: 2
 Existing field id:  33744
  New field id:  3912
Number of filters: 2
 Existing field id:  33947
  New field id:  3912
Number of filters: 2
 Existing field id:  33947
  New field id:  3912
Number of filters: 2
 Existing field id:  33947
  New field id:  3912
Copying the dashboard Key metrics by source ...
Number of filters: 6
 Existing field id:  33947
  New field id:  3912
 Existing field id:  33955
  New field id:  3920
 Existing field id:  33943
  New field id:  3908
 Existing field id:  33950
  New field id:  3915
Number of filters: 6
 Existing field id:  33947
  New field id:  3912
 Existing field id:  33955
  New field id:  3920
 Existing field id:  33943
  New field id:  3908
 Existing field id:  33950
  New field id:  3915
Number of filters: 6
 Existing field id:  33947
  New field id:  3912
 Existing field id:  33955
  New field id:  3920
 Existing field id:  33943
  New field id:  3908
 Existing field id:  33950
  New field id:  3915
Number of filters: 6
 Existing field id:  33947
  New field id:  3912
 Existing field id:  33955
  New field id:  3920
 Existing field id:  33943
  New field id:  3908
 Existing field id:  33950
  New field id:  3915
Number of filters: 6
 Existing field id:  33947
  New field id:  3912
 Existing field id:  33955
  New field id:  3920
 Existing field id:  33943
  New field id:  3908
 Existing field id:  33950
  New field id:  3915
Number of filters: 6
 Existing field id:  33947
  New field id:  3912
 Existing field id:  33955
  New field id:  3920
 Existing field id:  33943
  New field id:  3908
 Existing field id:  33950
  New field id:  3915
Copying the dashboard Life-Time Revenue ...
Number of filters: 1
 Existing field id:  35615
  New field id:  16846
Number of filters: 1
 Existing field id:  34281
  New field id:  3650
Number of filters: 1
 Existing field id:  35615
  New field id:  16846
Copying the dashboard Product Sales Deep Dive ...
Number of filters: 3
 Existing field id:  35805
  New field id:  5826
 Existing field id:  35803
  New field id:  5825
Copying the dashboard Top Product Sales ...
Number of filters: 4
 Existing field id:  35822
  New field id:  5945
 Existing field id:  35821
  New field id:  5944
 Existing field id:  35824
  New field id:  5947
Copying the dashboard Traffic Insights (Facebook) ...
Number of filters: 1
 Existing field id:  35875
  New field id:  38968
Number of filters: 1
 Existing field id:  35875
  New field id:  38968
Copying the dashboard Traffic Insights (Google) ...
Number of filters: 1
 Existing field id:  33541
  New field id:  12621
Number of filters: 1
 Existing field id:  33541
  New field id:  12621

In [5]:
mb.copy_card(source_card_id=568, destination_collection_id=222, new_client_name='polene')

Number of filters: 2
 Existing field id:  33947
  New field id:  3912
 Existing field id:  33947
  New field id:  3912

717

## Writing duplication code

In [109]:
card = mb.get("/api/card/568")
#card

In [110]:
def get_new_field_id(existing_field_id):
    
    existing_field_json = mb.get("/api/field/{}".format(existing_field_id))
    existing_field_name = existing_field_json['name']
    existing_schema = existing_field_json['table']['schema']
    existing_table_name = existing_field_json['table']['name']

    new_schema = existing_schema.replace(main_client_name, new_client_name)
    new_table_name = existing_table_name.replace(main_client_name, new_client_name)
    
    tables = mb.get("/api/table/") #get all tables on metabase
    
    for i, table in enumerate(tables):
        schema = table['schema']
        name = table['name']
        db_name = table['db']['name']
        if (schema == new_schema) and (name==new_table_name) and (db_name==db):
            new_table_id = table['id']
        
    new_table_fields = mb.get("/api/table/{}/query_metadata".format(new_table_id))['fields']
    for i, field in enumerate(new_table_fields):
        name = field['name']
        if name == existing_field_name:
            new_field_id = field['id']
            
    return new_field_id

In [113]:
template_tags = card['dataset_query']['native']['template-tags']
print('Number of filters:', len(template_tags))

for filter in template_tags.keys():
    filter_json = template_tags[filter]
    if 'dimension' in filter_json:
        field_list = filter_json['dimension']
        existing_field_id = field_list[1]
        print(' Existing field id: ', existing_field_id)
        new_field_id = get_new_field_id(existing_field_id)
        print('  New field id: ',new_field_id)
        
        #replace existing field id:
        field_list[1] = field_id
        card['dataset_query']['native']['template-tags'][filter]['dimension'] = field_list

Number of filters: 2
 Existing field id:  3912
  New field id:  3912
 Existing field id:  3912
  New field id:  3912

In [103]:
card

{'description': None,
 'archived': False,
 'collection_position': None,
 'table_id': None,
 'result_metadata': [{'name': 'date',
   'display_name': 'date',
   'base_type': 'type/Date',
   'special_type': None,
   'fingerprint': {'global': {'distinct-count': 2, 'nil%': 0.0},
    'type': {'type/DateTime': {'earliest': '2020-04-01',
      'latest': '2020-04-02'}}}},
  {'name': 'sessions',
   'display_name': 'sessions',
   'base_type': 'type/Decimal',
   'special_type': None,
   'fingerprint': {'global': {'distinct-count': 2, 'nil%': 0.0},
    'type': {'type/Number': {'min': 207294.0,
      'max': 245326.0,
      'avg': 226310.0,
      'sd': 26892.685102086776,
      'q1': 207294.0,
      'q3': 245326.0}}}}],
 'creator': {'email': 'louis@thegrowthteam.co',
  'first_name': 'Louis',
  'last_login': '2020-07-09T15:15:26.604518Z',
  'is_qbnewb': False,
  'is_superuser': False,
  'id': 38,
  'last_name': 'Collet',
  'date_joined': '2020-07-09T09:39:08.467419Z',
  'common_name': 'Louis Collet'},
 'can_write': True,
 'database_id': 2,
 'enable_embedding': False,
 'collection_id': 197,
 'query_type': 'native',
 'name': 'Number of visits',
 'dashboard_count': 1,
 'read_permissions': None,
 'creator_id': 38,
 'updated_at': '2020-07-20T15:22:13.843232Z',
 'made_public_by_id': None,
 'embedding_params': None,
 'cache_ttl': None,
 'dataset_query': {'type': 'native',
  'native': {'query': "SELECT \n'2020-04-02'::date AS date,\nSUM(ga_sessions) AS sessions\nFROM ffuture_ga_tap.view_ga_agg_source_medium_device\nWHERE {{date}}\n[[UNION ALL\nSELECT \nCASE WHEN \n    ( (SELECT MIN(date) FROM ffuture_ga_tap.view_ga_agg_source_medium_device WHERE {{date}})\n    >= (SELECT MIN(date) FROM ffuture_ga_tap.view_ga_agg_source_medium_device WHERE {{compare_to_date}}) )\nTHEN '2020-04-01'::date ELSE '2020-04-03'::date END AS date,\nSUM(ga_sessions) AS sessions\nFROM ffuture_ga_tap.view_ga_agg_source_medium_device\nWHERE {{compare_to_date}}]]\nORDER BY date ASC;\n\n",
   'template-tags': {'date': {'widget-type': 'date/range',
     'default': '2020-02-01~2020-03-31',
     'name': 'date',
     'type': 'dimension',
     'id': 'f1c49948-42f9-21a6-83c9-eac4643b1bf2',
     'dimension': ['field-id', 3912],
     'display-name': 'Date',
     'required': True},
    'compare_to_date': {'id': '86d6cac6-b9db-2fdd-f44e-6f75a2e1519e',
     'name': 'compare_to_date',
     'display-name': 'Compare to ',
     'type': 'dimension',
     'dimension': ['field-id', 3912],
     'widget-type': 'date/range'}}},
  'database': 2},
 'id': 568,
 'display': 'smartscalar',
 'visualization_settings': {'graph.show_values': False,
  'graph.x_axis.labels_enabled': False,
  'table.cell_column': 'sum',
  'graph.y_axis.labels_enabled': False,
  'card.title': 'Number of visits',
  'graph.metrics': ['sum'],
  'card.description': 'Source: Google Analytics',
  'table.pivot_column': 'date',
  'column_settings': {'["name","sum"]': {'prefix': '',
    'number_style': 'decimal'}},
  'series_settings': {'sum': {'display': 'area', 'color': '#A989C5'}},
  'graph.y_axis.auto_range': True,
  'graph.dimensions': ['date']},
 'collection': {'id': 197,
  'name': 'FFuture',
  'description': None,
  'color': '#8b8de3',
  'archived': False,
  'location': '/',
  'personal_owner_id': None,
  'slug': 'ffuture'},
 'created_at': '2020-07-09T16:42:07.923913Z',
 'public_uuid': None}

In [69]:
tables = mb.get("/api/table/")
#tables

In [90]:
existing_field_name

'date'

In [92]:
for i, table in enumerate(tables):
    schema = table['schema']
    name = table['name']
    db_name = table['db']['name']
    if (schema == new_schema) and (name==new_table_name) and (db_name==db):
        new_table_id = table['id']

new_table_fields = mb.get("/api/table/{}/query_metadata".format(new_table_id))['fields']
for i, field in enumerate(new_table_fields):
    name = field['name']
    if name == existing_field_name:
        new_field_id = field['id']

In [93]:
new_field_id

3912

In [21]:
fields = mb.get("/api/table/238/query_metadata")['fields']

In [22]:
for i, field in enumerate(fields):
    name = field['name']
    if name == 'date':
        field_id = field['id']

In [23]:
field_id

3912

In [34]:
card

{'description': None,
 'archived': False,
 'collection_position': None,
 'table_id': None,
 'result_metadata': [{'name': 'date',
   'display_name': 'date',
   'base_type': 'type/Date',
   'special_type': None,
   'fingerprint': {'global': {'distinct-count': 2, 'nil%': 0.0},
    'type': {'type/DateTime': {'earliest': '2020-04-01',
      'latest': '2020-04-02'}}}},
  {'name': 'sessions',
   'display_name': 'sessions',
   'base_type': 'type/Decimal',
   'special_type': None,
   'fingerprint': {'global': {'distinct-count': 2, 'nil%': 0.0},
    'type': {'type/Number': {'min': 207294.0,
      'max': 245326.0,
      'avg': 226310.0,
      'sd': 26892.685102086776,
      'q1': 207294.0,
      'q3': 245326.0}}}}],
 'creator': {'email': 'louis@thegrowthteam.co',
  'first_name': 'Louis',
  'last_login': '2020-07-09T15:15:26.604518Z',
  'is_qbnewb': False,
  'is_superuser': False,
  'id': 38,
  'last_name': 'Collet',
  'date_joined': '2020-07-09T09:39:08.467419Z',
  'common_name': 'Louis Collet'},
 'can_write': True,
 'database_id': 2,
 'enable_embedding': False,
 'collection_id': 197,
 'query_type': 'native',
 'name': 'Number of visits',
 'dashboard_count': 1,
 'read_permissions': None,
 'creator_id': 38,
 'updated_at': '2020-07-20T14:52:30.301774Z',
 'made_public_by_id': None,
 'embedding_params': None,
 'cache_ttl': None,
 'dataset_query': {'type': 'native',
  'native': {'query': "SELECT \n'2020-04-02'::date AS date,\nSUM(ga_sessions) AS sessions\nFROM ffuture_ga_tap.view_ga_agg_source_medium_device\nWHERE {{date}}\n[[UNION ALL\nSELECT \nCASE WHEN \n    ( (SELECT MIN(date) FROM ffuture_ga_tap.view_ga_agg_source_medium_device WHERE {{date}})\n    >= (SELECT MIN(date) FROM ffuture_ga_tap.view_ga_agg_source_medium_device WHERE {{compare_to_date}}) )\nTHEN '2020-04-01'::date ELSE '2020-04-03'::date END AS date,\nSUM(ga_sessions) AS sessions\nFROM ffuture_ga_tap.view_ga_agg_source_medium_device\nWHERE {{compare_to_date}}]]\nORDER BY date ASC;\n\n",
   'template-tags': {'date': {'widget-type': 'date/range',
     'default': '2020-02-01~2020-03-31',
     'name': 'date',
     'type': 'dimension',
     'id': 'f1c49948-42f9-21a6-83c9-eac4643b1bf2',
     'dimension': ['field-id', 3912],
     'display-name': 'Date',
     'required': True},
    'compare_to_date': {'id': '86d6cac6-b9db-2fdd-f44e-6f75a2e1519e',
     'name': 'compare_to_date',
     'display-name': 'Compare to ',
     'type': 'dimension',
     'dimension': ['field-id', 3912],
     'widget-type': 'date/range'}}},
  'database': 2},
 'id': 568,
 'display': 'smartscalar',
 'visualization_settings': {'graph.show_values': False,
  'graph.x_axis.labels_enabled': False,
  'table.cell_column': 'sum',
  'graph.y_axis.labels_enabled': False,
  'card.title': 'Number of visits',
  'graph.metrics': ['sum'],
  'card.description': 'Source: Google Analytics',
  'table.pivot_column': 'date',
  'column_settings': {'["name","sum"]': {'prefix': '',
    'number_style': 'decimal'}},
  'series_settings': {'sum': {'display': 'area', 'color': '#A989C5'}},
  'graph.y_axis.auto_range': True,
  'graph.dimensions': ['date']},
 'collection': {'id': 197,
  'name': 'FFuture',
  'description': None,
  'color': '#8b8de3',
  'archived': False,
  'location': '/',
  'personal_owner_id': None,
  'slug': 'ffuture'},
 'created_at': '2020-07-09T16:42:07.923913Z',
 'public_uuid': None}

In [12]:
mb.copy_collection(source_collection_id=123, destination_parent_collection_id=206, deepcopy_dashboards=True, verbose=True)

Copying the collection Acquisition Performance ...
Copying the card Sales vs. ROAS (Return on Ad Spend) ...
Copying the card Spend vs Blended CPP ...
Copying the dashboard Acquisition Performance ...
Copying the collection Alerts ...
Copying the dashboard Alerts ...
Copying the card CAC Alert ...
Copying the card CVR Alert Huygens ...
Copying the card ROAS Alert Huygens ...
Copying the card Average order by Customers ...
Copying the card Average Order Value ...
Copying the dashboard Cohorts Analysis ...
Copying the card Cohorts Analysis - LTV by First Order Month ...
Copying the collection Key Indicators ...
Copying the card Average Conversion Rate ...
Copying the card Average Transaction Value ...
Copying the card Number of visits ...
Copying the card Revenu ...
Copying the dashboard Key Indicators ...
Copying the collection Key metrics by platform ...
Copying the card Conversion Rate By Platform ...
Copying the card Spend Amount By Platform ...
Copying the card Total Sales By Platform ...
Copying the card Total Sessions By Platform ...
Copying the dashboard Key metrics by platform ...
Copying the collection Key metrics by source ...
Copying the card Conversion Rate By Source ...
Copying the card Spend Amount By Source ...
Copying the card Total Sales By Source ...
Copying the card Total Sessions by Source ...
Copying the dashboard Key metrics by source ...
Copying the dashboard Life-Time Revenue ...
Copying the card LTV (1 year) - Historical ...
Copying the card Repurchase rate Quarters Later ...
Copying the collection Traffic Insights ...
Copying the card Watch out, these segments are under-performing ...
Copying the card Yeah, these segments are performing well ...
Copying the dashboard Traffic Insights ...